$color_base:rgb(236, 10, 115);
$color_text: rgb(250, 182, 182);
$color_font: rgb(39, 134, 19);

$color_primary: rgb(5, 114, 141);
$color_secondary: rgb(238, 253, 101);
$color_success: rgb(248, 196, 98);
$color_danger: rgb(192, 27, 27);
